[submodule "xmonad"]
	path = env/xmonad
	url = https://github.com/mgsloan/xmonad
[submodule "xmonad-contrib"]
	path = env/xmonad-contrib
	url = https://github.com/mgsloan/xmonad-contrib
[submodule "keynav"]
	path = oss/keynav
	url = https://github.com/mgsloan/keynav
[submodule "oss/stylus"]
	path = oss/stylus
	url = https://github.com/mgsloan/stylus
[submodule "env/typed-process"]
	path = env/typed-process
	url = https://github.com/mgsloan/typed-process
[submodule "env/dunst"]
	path = oss/dunst
	url = https://github.com/mgsloan/dunst
