[submodule "env/penrose/vendor/penrose"]
	path = env/penrose/vendor/penrose
	url = https://github.com/mgsloan/penrose
[submodule "env-private"]
	path = ep
	url = https://github.com/mgsloan/env-private.git
