[submodule "xmonad"]
	path = env/xmonad
	url = git://github.com/mgsloan/xmonad.git
[submodule "xmonad-contrib"]
	path = env/xmonad-contrib
	url = git://github.com/xmonad/xmonad-contrib.git
[submodule "keynav"]
	path = oss/env/keynav
	url = https://github.com/mgsloan/keynav.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/mgsloan/mgsloan-emacs
