# A far more concise way of doing this would be something like

#  # Ignore all sub-dirs. More generic approach
#  /*/
#  # Un-ignore some sub-dirs.
#  !/env/

# Ignore vim recovery files
*~

# For some opensource projects, it's sensible to me to track the
# versions I'm using via submodules.  Often this is in the case that
# I'm using a patched version
/oss/*
!/oss/dunst
!/oss/keynav
!/oss/stylus

# However, instead, to aid in keeping track of what makes it into the
# home dir, I'm ignoring things selectively:

/.ICEauthority
/.TabNine/
/.Xauthority
/.anaconda/
/.anaconda3/
/.archives-backup/
/.arduino/
/.arduino15/
/.aspell.en.*
/.babel.json
/.bash_history*
/.bash_logout
/.bashrc
/.boto
/.cabal/
/.cache/
/.cargo/
/.ccache/
/.cmake/
/.condarc
/.config/Code/
/.config/Keybase/
/.config/QtProject.conf
/.config/Signal
/.config/Slack/
/.config/SoundWire/
/.config/Symless/
/.config/Synergy/
/.config/TabNine/
/.config/Trolltech.conf
/.config/Unknown Organization/zoom.conf
/.config/autostart/keybase_autostart.desktop
/.config/bless/
/.config/brittany/config.yaml
/.config/d-feet/
/.config/darktable/
/.config/dconf
/.config/enchant/
/.config/eog/
/.config/evolution
/.config/gcloud/
/.config/gedit/
/.config/gnome-initial-setup-done
/.config/google-chrome/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/gtk-3.0/bookmarks/
/.config/gtk-4.0/
/.config/hub
/.config/ibus/
/.config/inkscape/
/.config/keybase/
/.config/libaccounts-glib/
/.config/libreoffice/
/.config/menus/
/.config/mimeapps.list
/.config/monitors.xml
/.config/nautilus/
/.config/octave
/.config/pulse/
/.config/rclone
/.config/spotify/
/.config/sublime-text-3/Cache/
/.config/sublime-text-3/Installed\ Packages/
/.config/sublime-text-3/Lib/
/.config/sublime-text-3/Local/
/.config/syncthing/
/.config/update-notifier
/.config/user-dirs.locale
/.config/zoomus.conf
/.coursier/
/.dbus/
/.dlo/
/.electron/
/.emacs.d/
/.eta/
/.etlas/
/.fehbg
/.fontconfig
/.gconf/
/.gem/
/.ghc/
/.ghcjs/
/.gimp-2.8/
/.gist
/.gitconfig
/.gnome/
/.gnome2/
/.gnupg/
/.gradle/
/.gsutil/
/.gvfs/
/.hgrc
/.home.git/
/.httpie/
/.ipython/
/.irssi/
/.java/
/.kube/
/.lamdu/
/.lesshst
/.local/bin/HsColour
/.local/bin/alex
/.local/bin/brittany
/.local/bin/cabal
/.local/bin/chardetect
/.local/bin/ctags
/.local/bin/curator
/.local/bin/ebrowse
/.local/bin/emacs
/.local/bin/emacs-25.3
/.local/bin/emacsclient
/.local/bin/errlog-filter
/.local/bin/eta
/.local/bin/eta-build
/.local/bin/eta-pkg
/.local/bin/etags
/.local/bin/etlas
/.local/bin/ghcid
/.local/bin/hadrian
/.local/bin/happy
/.local/bin/hie
/.local/bin/hie-8.4
/.local/bin/hie-8.4.4
/.local/bin/hie-8.6
/.local/bin/hie-8.6.3
/.local/bin/hie-wrapper
/.local/bin/http
/.local/bin/hub
/.local/bin/journalctl
/.local/bin/meson
/.local/bin/pandoc
/.local/bin/pip
/.local/bin/pip3
/.local/bin/pip3.6
/.local/bin/pygmentize
/.local/bin/pyjwt
/.local/bin/slugify
/.local/bin/stack
/.local/bin/stack-head
/.local/bin/systemd-cat
/.local/bin/todoist
/.local/bin/watchman
/.local/bin/xmonad
/.local/bin/xrectsel
/.local/bin/zign
/.local/bin/ztoken
/.local/etc/
/.local/google-cloud-sdk/
/.local/lib/
/.local/libexec/
/.local/share/
/.local/var/
/.m2
/.mozbuild/
/.mozilla/
/.multirust
/.nix-channels
/.nix-defexpr/
/.nix-profile/
/.node-gyp/
/.npm/
/.nv/
/.nvidia-settings-rc
/.octave_hist
/.oracle_jre_usage/
/.pgadmin3/
/.pgpass
/.pki/
/.psql_history
/.python_history
/.rnd/
/.rpmdb/
/.rustup/
/.slocdata/
/.ssh/
/.stack/
/.sudo_as_admin_successful
/.swp
/.synergy.conf
/.synergy/
/.texlive2017/
/.thumbnails/
/.todoist.cache.json
/.todoist.config.json
/.v8flags*
/.vim/
/.viminfo
/.vimrc
/.vscode/
/.wget-hsts
/.wget-hsts/
/.xdg/
/.xmonad/
/.xournal/
/.xsel.log
/.yarnrc
/.zoom/
/Arduino/
/Edraw
/dl/
/docs/
/env/git-hooks/
/notes/
/old/
/pics/
/proj/
/tmux-client-*.log
