# A far more concise way of doing this would be something like

#  # Ignore all sub-dirs. More generic approach
#  /*/
#  # Un-ignore some sub-dirs.
#  !/env/

# However, instead, to aid in keeping track of what makes it into the
# home dir, I'm ignoring things selectively:

.cabal
.cache
.cargo
.ccache
.cmake
.electron
.emacs.d
.emacs.d.spacemacs
.gconf
.gem
.ghc
.gimp-2.8
.gnome
.gnome2
.gnupg
.gsutil
.home.git
.httpie
.ipython
.irssi
.kube
.mozbuild
.mozilla
.multirust
.nix-defexpr
.nix-profile
.node-gyp
.npm
.nv
.pgadmin3
.pki
.rnd
.rpmdb
.rustup
.ssh
.stack
.synergy
.texlive2017
.thumbnails
.vim
.wget-hsts
.xdg
.xournal
.zoom
dl
docs
notes
pics
proj
old

# This is probably overkill, but I want to track stuff in .config on a
# case-by-case basis. Often it contains stuff that shouldn't be versioned.

.config/Keybase
.config/QtProject.conf
.config/Slack
.config/SoundWire
.config/Symless
.config/Synergy
.config/Trolltech.conf
.config/Unknown Organization/cool-retro-term.conf
.config/autostart/keybase_autostart.desktop
.config/dbxcli
.config/dconf/user
.config/enchant
.config/eog
.config/evolution/sources
.config/fish/fishd.*
.config/gcloud
.config/gedit
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-3.0/bookmarks
.config/gtk-4.0
.config/htop/htoprc
.config/hub
.config/ibus
.config/inkscape
.config/keybase
.config/libreoffice
.config/menus
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/mimeapps.list
.config/monitors.xml
.config/nautilus
.config/pavucontrol.ini
.config/pulse
.config/redshift.conf
.config/spotify
.config/sublime-text-3/Cache
.config/sublime-text-3/Installed\ Packages
.config/sublime-text-3/Lib
.config/sublime-text-3/Local
.config/totem
.config/update-notifier
.config/user-dirs.locale
.config/vlc
.config/Pd
.config/Signal
.config/

.docker/config.json

.local/bin/alacritty
.local/bin/alex
.local/bin/cabal
.local/bin/cinf
.local/bin/ctags
.local/bin/ebrowse
.local/bin/emacs
.local/bin/emacs-25.3
.local/bin/emacsclient
.local/bin/etags
.local/bin/ghcid
.local/bin/hadrian
.local/bin/happy
.local/bin/hlint
.local/bin/hub
.local/bin/stack*
.local/bin/sublime_text
.local/bin/tmux
.local/bin/wifi-keepalive
.local/bin/xrectsel
.local/etc
.local/lib/
.local/share/
.local/var
.local/libexec

oss/hub
oss/emacs

# File ignores

.ICEauthority
.arcrc
.aspell.en.*
.babel.json
.bash_history*
.bash_logout
.fehbg
.gitconfig
.hgrc
.nix-channels
.pgpass
.psql_history
.python_history
.sudo_as_admin_successful
.swp
.synergy.conf
.v8flags*
.viminfo
.xsel.log
.yarnrc
tmux-client-*.log

# Ignore vim recovery files
*~
