# Comes from https://github.com/Ventto/batify, but not used directly
# because the auxiliary script fails:
# https://github.com/Ventto/xpub/issues/3
#
# Note that for this to work, I hardcoded my username (mgsloan). I
# also modified the messages to be nicer.

ACTION=="change", KERNEL=="BAT0", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="[0-5]", \
RUN+="/bin/su mgsloan -c '/usr/bin/notify-send -a batify -u critical \"Battery critical: $attr{capacity}%\" \"Shut down imminent...\"'"

ACTION=="change", KERNEL=="BAT0", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="[6-9]", \
RUN+="/bin/su mgsloan -c '/usr/bin/notify-send -a batify -u critical \"Battery quite low: $attr{capacity}%\"'"

ACTION=="change", KERNEL=="BAT0", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="1[0-5]", \
RUN+="/bin/su mgsloan -c '/usr/bin/notify-send -a batify -u normal \"Battery low: $attr{capacity}%\"'"

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="0", ENV{POWER}="off", \
OPTIONS+="last_rule", \
RUN+="/bin/su mgsloan -c '/usr/bin/notify-send -a batify -u low \"Power unplugged.\"'"

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="1", ENV{POWER}="on", \
OPTIONS+="last_rule", \
RUN+="/bin/su mgsloan -c '/usr/bin/notify-send -a batify -u low \"Power plugged in.\"'"
